name: Backport
on:
  pull_request:
    types:
      - closed
      - labeled

jobs:
  backport:
    runs-on: ubuntu-24.04
    name: Backport
    steps:
      - name: Backport
        uses: tibdex/backport@2d7713b178ee4f86d505da2f829301b912c0a4ca # v1.1.0
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN }}
