name: Lint

on:
  pull_request:
  push:
    branches:
      - master
      - stable*

env:
  APP_NAME: files_photospheres

jobs:
  php:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        php-versions: ['8.4']

    name: php${{ matrix.php-versions }}-LINT
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up php ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none

      - name: Lint
        run: composer run lint
