name: CS-Fix

on:
  pull_request:

jobs:
  php-cs-fixer:
    name: php-cs-fixer
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        php-versions: ['8.4']

    steps:
    - name: Checkout
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        ref: ${{ github.head_ref }}

    - name: Set up php
      uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
      with:
        php-version: ${{ matrix.php-versions }}
        coverage: none

    - name: Install dependencies
      run: composer i

    - name: Run coding standard formatter
      run: composer run cs:fix

    - uses: stefanzweifel/git-auto-commit-action@3ea6ae190baf489ba007f7c92608f33ce20ef04a # v4
      with:
        commit_message: Apply php-cs-fixer changes
